/* styles.css */

body{
    padding: 0;
    margin: 0;
}

#container{
   
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.title{
    
    display: grid;
    justify-content: center;
    align-items: center;
    justify-self: center;
    grid-template-columns: 1fr;
    align-items: center;
    color: rgb(1, 1, 1);
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 45%;
    padding: .5rem;
    
    
}

.add-task-button{
    padding: .8rem;
    background-color: rgb(116, 219, 116);
    border: none;
    width: 10rem;
    margin-left: 2rem;
    border-radius: 10px;
    color: white;
    font-size: large;
    font-weight: bold;
}

.add-task-button:hover{
    transform: scale(1.05);
}

.task-title{
    margin-left: 1rem;
}

.project-sidebar{
    text-align: center;
    color: white;
    grid-row-start: 1 ;
    grid-row-end: 3 ;
    
    background-image: linear-gradient(to left, orange, peachpuff);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.to-do-list{
    background-color: (white);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}


/* projects buttons sidebar */
.project-buttons{
    padding: .5rem;
    color: white;
    font-size: large;
    font-weight: bolder;
    border-radius: 10px;
    border: 3px solid white;
    background-color: transparent;
    width: 80%;
    margin-top: 1rem;
}

.add-project,
.delete-project{
    padding: .3rem;
    border-radius: 10px;
    color: white;
    border: 2px solid white;
    font-weight: bold;
}

.add-project{
    background-color: rgb(116, 219, 116);
}

.delete-project{
    background-color: rgb(248, 71, 71);
}

.add-project:hover{
    transform: scale(1.05);
}

.delete-project:hover{
    transform: scale(1.05);
}




.project-buttons:hover{
    transform: scale(1.1);
}


/* To-do-list tasks */
.to-do-container{
    margin: 1rem;
    border: solid 2.5px orange;
    padding: .5rem;
    border-radius: 10px;
    
}

.to-do-container:hover{
    transform: scale(1.01);
}

.delete-task-btn{
    background-color: rgb(248, 71, 71);
    border: none;
    border-radius: 10px;
    color: white;
    padding: .6rem;
}

.delete-task-btn:hover{
    background-color: red;
    font-weight: bolder;
}

