/* styles.css */

body{
    padding: 0;
    margin: 0;
}

#container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.title{
    display: flex;
    color: rgb(1, 1, 1);
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 30%;
    
}

.task-title{
    margin-left: 1rem;
}

.project-sidebar{
    text-align: center;
    color: white;
    grid-row-start: 1 ;
    grid-row-end: 3 ;
    background-image: linear-gradient(to left, orange, peachpuff);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.to-do-list{
    background-color: (white);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}


/* projects buttons sidebar */
.project-buttons{
    padding: .5rem;
    color: white;
    font-size: large;
    font-weight: bolder;
    border-radius: 10px;
    border: 3px solid white;
    background-color: transparent;
    width: 80%;
    margin-top: 1rem;
}

.project-buttons:hover{
    transform: scale(1.1);
}


/* To-do-list tasks */
.to-do-container{
    margin: 1rem;
    border: solid 2.5px orange;
    padding: 1rem;
    border-radius: 10px;
    
}

.to-do-container:hover{
    transform: scale(1.01);
}

